# Dependências do Node
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Compilação
/dist
/build
.vite
*.tsbuildinfo

# Variáveis de Ambiente
.env
.env.local
.env.*.local

# Outros arquivos do sistema operacional ou IDE
.DS_Store
Thumbs.db
*.log
*.json*.swp